// Variables

// Mixins

// Styles

body {
    background-color: #7ABBD6;

    .nav {
        background-color: #fff;

        .logo {
            width: 15%;
            background-color: 
        }
    }
}