// variables
$cntrtextAlign: center;
// mixins

// styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    font-family: Lato, sans-serif;
    background-color: #92DCE5;
    font-size: 0.9em;
    .wrapper {
        flex: 1 0 auto;
        display: flex;
        aside {
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-items: center;
            background-color: #f2f2f2;
            font-size: 1em;
            // height: 100%;
            // min-height: 100%;
            .brand {
                color: #fff;
                text-align: center;
                background-color: #2B303A;
                height: 59px;
                width: 100%;
                padding-top: 7%;
                flex: 1 1 auto;
                box-sizing: border-box;
                font-size: 1.5rem;
            }
            div {
                // height: 10%;
                box-sizing: border-box;
                width: 100%;
                // text-align: center;
                padding-left: 2rem;
                border-bottom: 1px solid black;
            }
            .home {
                text-align: left;
                height: 7%;
                padding-top: 1.5rem; 
                padding-left: 2rem;
                border-bottom: 1px solid black;
                // height: 100%;
            }
            .menu-item {
                height: 5%;
                padding-top: .6rem; 
            }
            .visit-store {
                text-align: center;
                padding-left: 0;
                span {
                    background-color: #92DCE5;
                    box-sizing: border-box;
                    padding: 3px;
                }
            }
        }
        .content {
            width: 100%;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            nav {
                // height: 10%;
                background-color: #f2f2f2;;
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
                padding: 1rem;
                .menu {
                    margin-right: auto;
                }
                div {
                    padding-right: .5rem;
                    font-size: 1rem;
                }
                .angleDown {
                    vertical-align: middle;
                    padding: 3px;
                }
                .image {
                    padding: 3px;
                }
            }
        }
    }
}
